body {
    background-image: url("../images/49ers_background.jpg");
    background-size: 100%;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: white;
    padding: 10px;
}

.jumbotron {
    background-color: rgba(0, 0, 0, 0.50);
  }

.card {
    background-color: rgba(0, 0, 0, 0.50);
}

.list-group-item {
    background-color: rgba(0, 0, 0, 0.50);
}

